<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <link href="../static/css/uicn.v1.css" rel="stylesheet">
    <link href="../static/css/header.v1.css" rel="stylesheet">
</head>
<body>
<div class="bg-white pos">
    <div class="wpn cl bg-white">
        <a class="icon-uimini logo-hd" href="https://www.ui.cn/" title="UI中国专业体验设计平台"></a>
        <ul class="nav-hd cl">
            <li class="on" id="nav-index" class=""><a href="https://www.ui.cn/">首页</a></li>
            <li class="">
                <a href="javascript:void()" target="_self">发现 <i class="icon-down"></i> </a>
                <div class="subnav-hd cl" style="display: none;">
                    <ul class="subnav-ct-hd">
                        <li>
                            <a href="https://www.ui.cn/list.html" target="_self">作品</a>
                        </li>
                        <li>
                            <a href="https://www.ui.cn/exp.html?tag=1&amp;b=0&amp;scatid=0&amp;catid=0" target="_blank">文章</a>
                        </li>
                        <li>
                            <a href="https://activity.ui.cn/" target="_blank">活动</a>
                        </li>
                        <li>
                            <a href="https://activity.ui.cn/game.html" target="_blank">设计大赛</a>
                        </li>
                        <li>
                            <a href="https://s.ui.cn/index.html?keywords=&amp;type=team" target="_blank">设计团队</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="">
                <a href="javascript:;" target="_self">学习 <i class="icon-down"></i> </a>
                <div class="subnav-hd cl" style="display: none;">
                    <ul class="subnav-ct-hd">
                        <li>
                            <a href="https://www.ui.cn/exp.html?scatid=11" target="_self">教程</a>
                        </li>
                        <li>
                            <a href="https://topic.ui.cn/" target="_self">专题</a>
                        </li>
                        <li>
                            <a href="https://read.ui.cn/book" target="_blank">书籍</a>
                        </li>
                        <li>
                            <a href="https://activity.ui.cn/utalk.html" target="_self">UTalk</a>
                        </li>
                        <li>
                            <a href="https://study.ui.cn/" target="_self">每周临摹</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="">
                <a href="javascript:;" target="_self">培训 <i class="icon-down"></i> </a>
                <div class="subnav-hd cl" style="display: none;">
                    <ul class="subnav-ct-hd">
                        <li>
                            <a href="https://peixun.ui.cn/index.html?city=0" target="_blank">线下培训</a>
                        </li>
                        <li>
                            <a href="https://peixun.ui.cn/online" target="_blank">在线课程</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="">
                <a href="https://top10.ui.cn" target="_blank">榜单 </a>
            </li>
            <li class="">
                <a href="https://i.ui.cn/vip" target="_blank">会员Plus
                    <div style="width: 5px;height:5px;background: red;display:inline-block;border-radius:5px;position: absolute;left: 70px;top:25px;">
                    </div>
                </a>
            </li>
            <li class="">
                <a href="javascript:;" target="_self">更多 <i class="icon-down"></i> </a>
                <div class="subnav-hd cl" style="display: none;">
                    <ul class="subnav-ct-hd">
                        <li>
                            <a href="https://zhaopin.ui.cn/" target="_blank">招聘</a>
                        </li>
                        <li>
                            <a href="https://talk.ui.cn/" target="_blank">话题</a>
                        </li>
                        <li>
                            <a href="https://ziku.ui.cn" target="_blank">字库</a>
                        </li>
                        <li>
                            <a href="https://tool.ui.cn/" target="_blank">工具</a>
                        </li>
                        <li>
                            <a href="https://upn.ui.cn/" target="_blank">公众号联盟</a>
                        </li>
                        <li>
                            <a href="https://uxdc.ui.cn/" target="_blank">UXDC</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="y cl">
            <div class="search-hd cl">
                <form action="https://s.ui.cn/index.html" method="get" id="searchForm">

                    <div class="search-status">
                        <div class="search-filter">
                            <a href="javascript:;"><span class="tit">作品</span><i class="icon-down"></i></a>
                            <ul class="options">
                                <li><a href="javascript:;" data-rel="project">作品</a></li>
                                <li><a href="javascript:;" data-rel="experience">文章</a></li>
                                <li><a href="javascript:;" data-rel="source">源文件</a></li>
                                <li><a href="javascript:;" data-rel="designer">设计师</a></li>
                                <li><a href="javascript:;" data-rel="inspiration">灵感</a></li>
                                <li><a href="javascript:;" data-rel="talk">话题</a></li>
                                <li><a href="javascript:;" data-rel="activity">活动</a></li>
                                <li><a href="javascript:;" data-rel="veer">素材</a></li>
                            </ul>
                        </div>
                    </div>

                    <input type="hidden" name="type" value="project" id="sType">
                    <a class="search-hd-btn" href="javascript:;">
                        <i class="icon-search"></i>
                    </a>
                </form>
                <div class="pull">
                    <div class="wpn cl">
                        <div class="z left_exp">
                            <a href="https://top10.ui.cn" class="find_hot">查看全部热门榜单</a>
                            <ul class="cl">
                                <li class="z">
                                </li>
                                <li class="z">
                                </li>
                            </ul>
                        </div>
                        <div class="z right_exp">
                            <ul class="cl">
                                <li class="z on"><a href="javascript:;" data-rel="project">作品</a></li>
                                <li class="z"><a href="javascript:;" data-rel="experience">文章</a></li>
                                <li class="z"><a href="javascript:;" data-rel="single">即刻</a></li>
                                <li class="z"><a href="javascript:;" data-rel="veer">素材</a></li>
                                <li class="z"><a href="javascript:;" data-rel="source">源文件</a></li>
                                <li class="z"><a href="javascript:;" data-rel="designer">设计师</a></li>
                                <li class="z"><a href="javascript:;" data-rel="team">团队</a></li>
                            </ul>
                            <div class="form_con cl">
                                <input type="text" name="content" class="z" placeholder="请输入您要查找的内容">
                                <a href="javascript:;" class="z search-btn">搜索</a>
                            </div>
                            <p class="tag_exp">
                                <a href="https://s.ui.cn/index.html?type=project&amp;keywords=作品集">作品集</a><a
                                        href="https://s.ui.cn/index.html?type=project&amp;keywords=AE">AE</a><a
                                        href="https://s.ui.cn/index.html?type=project&amp;keywords=icon">icon</a><a
                                        href="https://s.ui.cn/index.html?type=project&amp;keywords=logo">logo</a><a
                                        href="https://s.ui.cn/index.html?type=project&amp;keywords=app">app</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="quick-hd cl">
                <li class="quick-item">
                    <a class="quick-toggle" href="javascript:;">
                        <i class="icon-upload"></i>
                    </a>
                    <ul class="quick-menu quick-list">
                        <li><a href="https://upload.ui.cn/work.html"><i class="icon-up-pic"></i>上传作品</a></li>
                        <li><a href="https://upload.ui.cn/exp.html"><i class="icon-up-experience"></i>上传经验</a></li>
                        <li><a href="javascript:;" rel="" data-status="" data-auth="" id="s" jike-up-auth=""><i
                                        class="icon-up-pic"></i>上传即刻</a></li>

                    </ul>
                </li>
            </ul>
            <div class="login-hd">
                <a href="https://ui.cn/login.html">
                    <i class="icon-user"></i>登录</a>
            </div>
        </div>
    </div><!-- wpn -->
</div>

<table>
    <tr>
        <td>
            {{ .prototype_list }}
        </td>
        <td>
            {{ .prototype_list }}
        </td>
    </tr>
</table>
</body>
</html>